* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #252222;
}

.menu {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 28px;
    background: #252222;
    box-shadow: inset 7px 7px 13px #1e1c1c,
        inset -7px -7px 13px #2c2828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu-ul {
    display: flex;
}

.menu__logo {
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
}

.nav__menu-li-link {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-left: 20px;
    font-family: sans-serif;
    animation: link 1s linear infinite;
}

.button {
    padding: 15px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    display: none;
}

.nav__menu.active {
    transform: translateX(0%);
}

@media(max-width:600px) {
    .button {
        display: block;
    }

    .nav__menu {
        position: fixed;
        background: #252222;
        box-shadow: inset 7px 7px 13px #1e1c1c,
            inset -7px -7px 13px #2c2828;
        top: 90px;
        right: 0;
        height: 100vh;
        padding: 0 70px;
        display: flex;
        transform: translateX(100%);
        transition: 2s ease-in;
    }

    .nav__menu-ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__menu-li-link {
        padding-left: 0;
    }

    .nav__menu-li {
        margin-bottom: 20px;
    }

    .menu {
        width: 100%;
        border-radius: 0;
    }

}